@using LVMini.ViewModels
@model IEnumerable<Team>
@{
    ViewData["Title"] = "AdminTeams";
}


<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>

<h3 style="color:black"><i class="glyphicon glyphicon-th"></i>&nbsp;Teams</h3>
<hr />
<div class="row">
    <div class="form-horizontal well">
        <div id="treelist"></div>
    </div>
</div>

<environment include="Development">
    <script src="http://localhost:9000/build/teams.bundle.js"></script>
</environment>


<environment include="Production">
    <script src="~/js/build/teams.bundle.js"></script>
</environment>