body {
    margin:0;
    padding:0;
    background:url(../images/ancient-Plovdiv-dreven-stariq-grad-lampi3-1024x683.jpg);
    background-size:cover;
    background-position:center;
    font-family:sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/*Style For Register Form*/
#formContainer {
    width: 100%;
    
}
#checkbox1 {
    width: 20px;
    margin-left: 16px;
    font-size: 18px;
}
    /*CSS For LogIn Form*/
body{
    margin: 0;
    padding: 0;
    background: url(../images/ancient-Plovdiv-dreven-stariq-grad-lampi3-1024x683.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
    color: white;
}

.login-box {
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
    color: white;
}

    .login-box p {
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

    .login-box input {
        width: 100%;
        /*padding: 10px;*/
        margin-bottom: 20px;
    }

        .login-box input[type="text"], input[type="password"] {
            border: none;
            border-bottom: 1px solid;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
            margin-bottom: 20px;
        }

        .login-box input[type="Submit"] {
            border: none;
            outline: none;
            height: 40px;
            font-size: 18px;
            color: #fff;
            background-color: #57FF7E;
            border-radius: 10px;
            margin-bottom: 10px;
        }

            .login-box input[type="Submit"]:hover {
                cursor: pointer;
                color: #fff;
                background-color: #48E16C;
            }

    .login-box a {
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        font-style: italic;
        font-size: 12px;
    }

        .login-box a:hover {
            cursor: pointer;
            color: #57FF7E;
        }

.footer {
    font-style: italic;
    color: white;
    font-size: 13px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-family: sans-serif;
}

.p1 {
    font-size: 12px;
    font-family: sans-serif;
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


