/*For Body*/
body {
    /*margin: 0;
    padding: 0;*/
    background: url(../images/ancient-Plovdiv-dreven-stariq-grad-lampi3-1024x683.jpg);
    background-size: cover;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    background-attachment: fixed;
}
/*For About Page*/
.About {
    position: center;
    text-align: left;
    color: white;
}

/*Home --> Second Container Content*/
.col-md-3 {
    position: center;
    text-align: center;
    color: white;
}
/*For Contact Page*/
.Contact {
    position:center;
    text-align:center;
    color:white;
}
/*.nav {
    background-color:black;
    color:black;
}*/

#image {
    padding-top:10px;
}

/*Style For Register Form*/
.Register {
    position: center;
    text-align: center;
    color: black;
    width: 50%;
    background: RGBA(0,0,0,0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
}
.Register input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        font-size: 18px;
        color: #fff;
        background-color: #57FF7E;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top:20px;
}
/*Style For My Profile Page*/

.ProfPic {   
    width: 100%;
    position: center;
    background: RGBA(0,0,0,0.5);
    padding: 70px 30px;
    color:white;
}

.fields {
    width: 100%;
    position: center;
    background: RGBA(0,0,0,0.5);
    padding: 70px 30px;
}

.form-group label {
    color:white;
}