body {
    margin: 0;
    padding: 0;
    background: url(../images/ancient-Plovdiv-dreven-stariq-grad-lampi3-1024x683.jpg);
    background-size: cover;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    background-attachment: fixed;   
}
/*For About Page*/
.About {
    position: center;
    text-align: left;
    color: white;
}

/*Home --> Second Container Content*/
.col-md-3 {
    position: center;
    text-align: center;
    color: white;
}
/*For Contact Page*/
.Contact {
    position:center;
    text-align:center;
    color:white;
}
/*Style For Register*/

.Register {
    position: center;
    text-align: center;
    color: black;
    width: 50%;
    background: RGBA(0,0,0,0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
}
    .Register label {
        color: white;
        font-size: 20px;
    }
#Username {
    width: 60%;
    border-radius: 4px;
    height: 35px;
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    color: #fff;
}
#Email {
    width: 60%;
    height: 35px;
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 16px;
}
.RegFields {
    width: 60%;
    height: 35px;
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    color: #fff;
    /*-webkit-border-radius:4px;*/
}
    .RegFields input [type = "text"] {
        background: transparent;
    }
.Register input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: #337ab7;    
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 6px 12px;
    height: 34px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    border-radius:4px;
}
#Cancel {
    border: none;
    outline: none;
    color: #fff;
    background-color: red;
    border-radius: 4px;
    margin-bottom: 0px;
    /*margin-top: 20px;*/
    padding: 6px 12px;
    height: 34px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

/*Style For My Profile Page*/
.ProfPic {
    width: 40%;
    float: left;
    padding: 10px 30px;
    color: white;
}

.fields {
    width: 100%;
    position: center;
    background: RGBA(0,0,0,0.5);
    padding: 70px 30px;
}

    .col-lg-6 label {
        color: white;
        font-size: 20px;
       
    }
input#FirstName.form-control {
    width: 60%;
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    color: #fff;
}
input#LastName.form-control {
    width: 60%;
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    color: #fff;
}
#errmsg {
    color: red;
}

/*For Users Page*/
.UserTitle {
    color:white;
}
.Users ul{
    color:white;
}
/*Style For Footer*/
.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
}
#footer ul {
        position: relative;
        display: flex;
        top: 80%;
        left: 209%;
}

#footer ul li {
            list-style: none;
}
#footer ul li a {
                width: 60px;
                height: 60px;
                background: #fff;
                text-align: center;
                line-height: 60px;
                font-size: 30px;
                margin: 0 10px;
                display: block;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                border: 3px solid #fff;
                z-index: 1;
}

#footer ul li a .fa {
                    position: relative;
                    color: #262626;
                    transition: .5s;
                    z-index: 3;
}

#footer ul li a:hover .fa {
                    color: #fff;
                    transform: rotateY(360deg);
}

#footer ul li a:before {
                    content: '';
                    position: absolute;
                    top: 90%;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: #f00;
                    transition: .5s;
                    z-index: 2;
}
#footer ul li a:hover:before {
                    top: 0;
}
#footer ul li:nth-child(1) a:before {
                background: #3B5998;
}
#footer ul li:nth-child(2) a:before {
                background: #1DA1F2;
}
#footer ul li:nth-child(3) a:before {
                background: #DB4437;
}
#footer ul li:nth-child(4) a:before {
                background: #C32AA3;
}

#map{
    margin-top:100px;
    height:500px;
    width:100%;

}