body {
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
  
}
/*For About Page*/
.About {
    position: center;
    text-align: left;
    color: black;
}

/*Home --> Second Container Content*/
.col-md-3 {
    position: center;
    text-align: center;
    color: black;
}
/*For Contact Page*/
.Contact {
    position: center;
    text-align: center;
    color: black;
}

.ProfPic {
    width: 40%;
    float: left;
    padding: 10px 30px;
    color: black;
    position: absolute;
}
.fields {
    
    width: 100%;
    position: center;
    background: RGBA(0,0,0,0.5);
    padding: 70px 30px;
    float:left;
}

.col-lg-6 label {
    color: black;
    font-size: 20px;
}

input#FirstName.form-control {
    width: 60%;
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    color: #fff;
}

input#LastName.form-control {
    width: 60%;
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    color: #fff;
}

.field-validation-error{
    color: red;
    position:absolute;
}

/*For Users Page*/
.UserTitle {
    color: black;
}
.Users ul {
    color: black;
}
/*Style For Footer*/
.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
}
#footer ul {
        position: relative;
        display: flex;
        top: 80%;
        left: 209%;
}

#footer ul li {
            list-style: none;
}
#footer ul li a {
                width: 60px;
                height: 60px;
                background: #fff;
                text-align: center;
                line-height: 60px;
                font-size: 30px;
                margin: 0 10px;
                display: block;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                border: 3px solid #fff;
                z-index: 1;
}

#footer ul li a .fa {
                    position: relative;
                    color: #262626;
                    transition: .5s;
                    z-index: 3;
}

#footer ul li a:hover .fa {
                    color: #fff;
                    transform: rotateY(360deg);
}

#footer ul li a:before {
                    content: '';
                    position: absolute;
                    top: 90%;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: #f00;
                    transition: .5s;
                    z-index: 2;
}
#footer ul li a:hover:before {
                    top: 0;
}
#footer ul li:nth-child(1) a:before {
                background: #3B5998;
}
#footer ul li:nth-child(2) a:before {
                background: #1DA1F2;
}
#footer ul li:nth-child(3) a:before {
                background: #DB4437;
}
#footer ul li:nth-child(4) a:before {
                background: #C32AA3;
}

#map{
    margin-top:100px;
    height:500px;
    width:100%;

}
/*//Button Edit Class From The GeeUsers Page
{
    box-shadow: 0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color: #428bca;
}*/
/*//Button Modify Class From The GeeUsers Page
{
    box-shadow: 0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color: #428bca;
}*/
.btn-primary {
    
    background-color: #428bca;
}

.btn-danger {
    
    background-color: #c63702;
}
.btn3d {
    border: none;
    outline: none;
    color: #fff;
    background-color: #428bca;
    border-radius: 4px;
    margin-bottom: 0px;
    padding: 6px 12px;
    height: 34px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

    .btn3d:focus {
        outline: medium none;
    }
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 40px;
    line-height: 20px;
    font-family: 'Facebook Letter Faces';
    color:red;  
}
$tisa: ff-tisa-web-pro; $burlywood: #D9BC55; $title-on-black: $burlywood; .wrapper--team {
    margin: 0;
    padding: 2rem 1rem;
    background-color: #E9E7D0;
}

.l-container {
    margin: 0 auto;
}

@media screen and (min-width: 64em) {
    .l-container {
        max-width: 64rem;
    }
}

@media screen and (min-width: 75em) {
    .l-container {
        max-width: 75rem;
    }
}

.team-grid {
    margin: 0;
    text-align: center;
    *zoom: 1;
    &:before, &:after

{
    content: " ";
    display: table;
}

&:after {
    clear: both;
}

}

.team-grid__member {
    font-family: $tisa;
    max-width: 100%;
    padding: 0.5rem;
    margin: 0 0 0.5rem;
    display: inline-block;
    float: none;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

@media screen and (min-width: 28em) {
    .team-grid__member {
        width: 49%;
        max-width: none;
    }
}

@media screen and (min-width: 42em) {
    .team-grid__member {
        width: 32.5%;
    }
}

@media screen and (min-width: 62em) {
    .team-grid__member {
        width: 19.45%;
    }
}

////////////////////// // MODULE GRID ////////////////////// .team-grid__member {
    position: relative;
    overflow: hidden;
}

.team-grid__member img {
    width: 100%;
    height: auto;
    border: 8px solid #fff;
    box-sizing: border-box;
    display: block;
}

.member__info {
    color: #fff;
    height: auto;
    width: auto;
    opacity: 0;
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    background: rgba(0, 0, 0, 0.85);
    backface-visibility: hidden;
    transition: opacity 0.4s ease-in-out;
}

.member__name {
    color: $title-on-black;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.2rem;
    margin-bottom: 0;
    padding: 0 12px;
}

.member__title {
    margin-bottom: 0.75rem;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1rem;
    padding: 0 1.5rem;
}

a.member__link {
    background: #D68D2C;
    color: #FFF;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

// FIX THE TOUCH METHOD //.no-touch .team-grid__member:hover .member__info,
//.team-grid__member.cs-hover .member__info {
    // opacity: 1;
    //
}

.team-grid__member:hover .member__info {
    opacity: 1;
}


// ----- Middle Alignment Vertical ----- // .member__info:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.center-vert-content {
    display: inline-block;
    vertical-align: middle;
}