body {
    margin: 0;
    padding: 0;
    background: url(../images/ancient-Plovdiv-dreven-stariq-grad-lampi3-1024x683.jpg);
    background-size: cover;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    background-attachment: fixed;
}

/*Style For Register Form*/
.Register {
    width: 320px;
    height: 420px;
    background: RGBA(0,0,0,0.5);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
}

.Register input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        font-size: 18px;
        color: #fff;
        background-color: #57FF7E;
        border-radius: 10px;
        margin-bottom: 10px;

}

/*CSS For LogIn Form*/
#facebook {
    background: #4267b2;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    width: 250px;
}
h1 {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
    color: white;
}

.login-box {
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
    color: white;
}

.login-box p {
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

.login-box input {
        width: 100%;
        margin-bottom: 20px;
    }

.login-box input[type="text"], input[type="password"] {
            border: none;
            border-bottom: 1px solid;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
            margin-bottom: 20px;
        }

        .login-box input[type="Submit"] {
            border: none;
            outline: none;
            height: 40px;
            font-size: 18px;
            color: #fff;
            background-color: #57FF7E;
            border-radius: 10px;
            margin-bottom: 10px;
        }

            .login-box input[type="Submit"]:hover {
                cursor: pointer;
                color: #fff;
                background-color: #48E16C;
            }

        .login-box input[type="button"] {
            border: none;
            outline: none;
            height: 40px;
            font-size: 18px;
            color: #fff;
            background-color: #3b5998;
            border-radius: 10px;
            margin-top: 10px;
        }

            .login-box input[type="button"]:hover {
                cursor: pointer;
                color: #fff;
                background-color: #355088;
            }

    .login-box a {
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        font-style: italic;
        font-size: 12px;
    }

        .login-box a:hover {
            cursor: pointer;
            color: #57FF7E;
        }

.footer {
    font-style: italic;
    color: white;
    font-size: 13px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-family: sans-serif;
}

.p1 {
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    
}


