input, input:active, input:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
}
body {
    margin: 1px;
    padding: 1px;
}
.clear{
    clear:both;
}
#formContainer {
    width:70%;
    margin-left:15%;
    margin-top:20%;
    background:#4f4d4f;
    border:30px solid transparent;
    font-family:"Century Gothic", Verdana, Geneva, Tahoma, sans-serif;
}
#formContainer form p {
    width:100%;
    margin-top:20%;
    margin-bottom:20%;
}
#formContainer form p label {
    display:inline-block;
    text-align:right;
    font-size:19px;
    width:20%;
    height:20px;
    margin-top:20px;
}
#formContainer form p .input {
    width:60px;
    height:30px;
    margin-right:15px;
    font-size:10px;
    display:block;
    float:right;
    margin-top:15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#formContainer form p .input focus {
    box-shadow:1px, 1px, 6px, 3px;
}
#radioPara {
    width:20px;
    margin-left:16px;
    font-size:18px;
}
#checkbox1 {
    width:20px;
    margin-left:16px;
    font-size:18px;
}
#radioPara p input {
    float:right;
    margin-right:80%;
    height:15px;
    width:15px;
}
#checkbox1 p input {
    float: right;
    margin-right: 80%;
    height: 15px;
    width: 15px;
}
.button {
    box-shadow:1px, 1px, 5px, 3px;
    /*background:;*/
    width:200px;
    height:50px;
    font-size:16px;
    margin-top:18px;
    margin-left:40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#conditions {
    font-size:16px;
    width:90%;
    margin-left:5%;
}
#conditions input {
    height:20px;
    width:20px;
    margin-top:15px;
    margin-left:30px;
    vertical-align:-5px;
}
#errors p {
    width:70%;
    margin-left:20%;
    color:#854c52;
    background:#b42d2d;
    padding:10px;
    font-size:25px;
}