@using LVMini.ViewModels
@model IEnumerable<ModifiedUserModel>
@{
    ViewData["Title"] = "Users";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

</head>

<h3 style="color:black"><i class="glyphicon glyphicon-globe"></i>&nbsp;Users List</h3>
<hr />
<div id="user-index"></div>
<div class="form-horizontal well">
    <div class="row">
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">
                    <div class="user-container">
                        <div id="grid">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<environment include="Development">
    <script src="http://localhost:9000/build/users.bundle.js"></script>
</environment>


<environment include="Production">
    <script src="~/js/build/users.bundle.js"></script>
</environment>


    <script id="mytemplate" type="text/x-kendo-template">

        <div id="container">
            First Name: <input type="text" data-bind="value:FirstName" /><br />
            Last Name: <input type="text" data-bind="value:LastName" /><br />
            Email: <input type="text" data-bind="value:Email" /><br />
            <button data-bind="click: myClickEvent">click me</button>
        </div>

</script>

