@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.IdentityModel.Clients.ActiveDirectory
@using Microsoft.IdentityModel.Protocols.OpenIdConnect
@{
    ViewData["Title"] = "About";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="About">
    <div>
        <strong>id_token</strong>
        <span>@await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.IdToken)</span>
    </div>

    <div>
        <strong>access_token</strong>
        <span>@await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.AccessToken)</span>
    </div>

    <div>
        <strong>refresh_token</strong>
        <span>@await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.RefreshToken)</span>
    </div>
</div>
@{
    var claims = User.Claims;
    var role = new Claim("role", "user");
    bool contains = claims.Contains(role);
    var name = User.Identity.Name;

    foreach (var claim in claims)
    {
        <div>
            <strong>@claim.Type</strong>
            <span>@claim.Value</span>
        </div>
    }
}