@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.IdentityModel.Clients.ActiveDirectory
@using Microsoft.IdentityModel.Protocols.OpenIdConnect
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <strong>id_token</strong>
    <span>@await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.IdToken)</span>
</div>

<div>
    <strong>access_token</strong>
    <span>@await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.AccessToken)</span>
</div>

<div>
    <strong>refresh_token</strong>
    <span>@await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.RefreshToken)</span>
</div>

@{
    var claims = User.Claims;
    foreach (var claim in claims)
    {
        <div>
            <strong>@claim.Type</strong>
            <span>@claim.Value</span>
        </div>
    }
}