
@{
    ViewData["Title"] = "AdminPage";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>

<h2>Admin Page</h2>
<div class="fields">
<p>
    This Is The Admin's page.<br>
    Content Will Be Written Soon!!!
</p>
</div>
