@{
    ViewData["Title"] = "Contact";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>

    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>


    <div class="Contact">
        <address>
            Office Park Plovdiv<br />
            Plovdiv, Bulgaria 4000<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>