<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>register</title>
    <link rel="stylesheet" type="text/css" href="../../wwwroot/css/validationstyle.css">
</head>
<body>
    <div id="formcontainer">
        <form onsubmit='return formvalidator()' name="f1">
            <hr />
            <p><label for="firstname">user id:</label><input type="text" id="firstname" class="input" required /></p>
            <p><label for="firstname">password:</label><input type="password" id="password" class="input" required /></p>
            <p><label for="firstname">confirm password:</label><input type="password" id="password" class="input" required /></p>
            <p><label for="addr">address:</label><input type="text" id="addr" class="input" /></p>
            <p><label for="zip">zip code:</label><input type="text" id="zip" class="input" /></p>
            <p><label for="zip">email:</label><input type="text" id="email" class="input" /></p>
            <p>
                <label for="state">country:</label>
                <select id="state" class="input">
                    <option>bulgaria</option>
                    <option>united states</option>
                    <option>canada</option>
                </select>
            </p>
            <p><label for="email">email:</label><input type="text" id="email" class="input" required /></p>
            <hr />

            <div id="radiopara">
                <p>sex:</p>
                <p><input type=radio name=r1 value="ne">male</p>
                <p><input type=radio name=r1 value="nw">female</p>
            </div>
            <div id="checkbox1">
                <p>language:</p>
                <p><input type=checkbox name=r1 value="ne">english</p>
                <p><input type=checkbox name=r1 value="nw">non english</p>
                <p>
                    <label for="zip">about:</label><input type='text' id='about' class="input" />
                </p>
            </div>
            <hr />
            <p id="conditions">agree with the terms and conditions<input type="checkbox" name="checkbox" value="check" /></p>
            <p><input type='submit' value='check form' class="button" /> <input type="reset" value="reset form" class="button" onclick=" document.getelementbyid('errors').innerhtml = ''; " /></p>

        </form>

        <div id="errors" onclick=" document.getelementbyid('errors').innerhtml = ''; "></div>
    </div>

    <script type="text/javascript" src="../../wwwroot/js/javascript.js"></script>

</body>
</html>