@using Data.Service.Core.Entities
@using LVMiniApi.Models
@model IEnumerable<LVMiniApi.Models.UserModel>
@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

@foreach (UserModel user in Model)
{
    <h2>@user.Username</h2>
    <h2>@user.Email</h2>
}