@using LVMini.ViewModels
@model IEnumerable<TeamViewModel>
@{
    ViewData["Title"] = "Team";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<!--Kendo Style Refernces-->
<!--Styles. First Common Then Theme-->
<link rel="stylesheet" href="../wwwroot/css/kendo.common.min.css">
<link rel="stylesheet" href="../wwwroot/css/kendo.silver.min.css">
<script type="text/javascript" src="//use.typekit.net/npe3lft.js"></script>
<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
<script type="text/javascript" src="js/site.js"></script>
<!--Scripts  JQuery First Then Kendo Script-->
<script src="js/jquery.min.js"></script>
<script src="js/kendo.web.min.js"></script>
<h2>Teams</h2>


<div class="wrapper--team">
    <div class="l-container">

        <div class="team-grid">

            <div class="team-grid__member hover">
                <div class="member__info">
                    <div class="center-vert-content">
                        <h3 class="member__name"></h3>
                        <p class="member__title"></p>
                        <a class="member__link" href="javascript:void(0)"></a>
                    </div>
                </div>
                <img src="#" alt="#">
            </div>

            <div class="team-grid__member hover">
                <div class="member__info">
                    <div class="center-vert-content">
                        <h3 class="member__name"></h3>
                        <p class="member__title"></p>
                        <a class="member__link" href="javascript:void(0)"></a>
                    </div>
                </div>
                <img src="#" alt="#">
            </div>

            <div class="team-grid__member hover">
                <div class="member__info">
                    <div class="center-vert-content">
                        <h3 class="member__name"></h3>
                        <p class="member__title"></p>
                        <a class="member__link" href="javascript:void(0)"></a>
                    </div>
                </div>
                <img src="#" alt="#">
            </div>

            <div class="team-grid__member hover">
                <div class="member__info">
                    <div class="center-vert-content">
                        <h3 class="member__name"></h3>
                        <p class="member__title"></p>
                        <a class="member__link" href="javascript:void(0)"></a>
                    </div>
                </div>
                <img src="#" alt="#">
            </div>

            <div class="team-grid__member hover">
                <div class="member__info">
                    <div class="center-vert-content">
                        <h3 class="member__name"></h3>
                        <p class="member__title"></p>
                        <a class="member__link" href="javascript:void(0)"></a>
                    </div>
                </div>
                <img src="#" alt="#">
            </div>

        </div>

    </div>
</div>

