@using LVMini.ViewModels
@using Kendo.Mvc.UI;
@using Kendo.Mvc.Extensions;
@model IEnumerable<TeamViewModel>
@{
    ViewData["Title"] = "Team";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>

<h2 style="color:black"><i class="glyphicon glyphicon-th"></i>&nbsp;Teams</h2>
<hr/>
<div class ="row">
    <div class="form-horizontal well">
        <div id="treelist"></div>
    </div>
</div>
<script>

    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "http://localhost:49649/adminteams/GetAllTeams"
            }   
        },
        pageSize:2,
        schema: {
            model: {
                id: "Id"
            },
            data: function (response) {
                return response;
            }
        }
    });
    var grid = $("#treelist").kendoGrid({
        dataSource: dataSource,
        groupable: true,
        sortable: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount:5
        },
        columns: [
            {
                title:"Team Name",
                field: "teamName"
            },
            {
                title: "Username",
                field: "username"
            },
            {
                title: "Last Name",
                field: "lastName"
            },
            {
                title: "Email",
                field: "email"
            }
        ]
    }).data("kendoGrid");

</script>