@using LVMini.ViewModels
@*@using Kendo.Mvc.Examples.Models;*@
@model IEnumerable<TeamViewModel>
@{
    ViewData["Title"] = "Team";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<!--Kendo Style Refernces-->
<!--Styles. First Common Then Theme-->
<link rel="stylesheet" href="../wwwroot/css/kendo.common.min.css">
<link rel="stylesheet" href="../wwwroot/css/kendo.silver.min.css">
<script type="text/javascript" src="//use.typekit.net/npe3lft.js"></script>
<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
<script type="text/javascript" src="js/site.js"></script>
<!--Scripts  JQuery First Then Kendo Script-->
<script src="js/jquery.min.js"></script>
<script src="js/kendo.web.min.js"></script>
<h2>Teams</h2>

@*@(Html.Kendo().Diagram()
              .Name("diagram")
              .DataSource(dataSource => dataSource
                  .Read(read => read
                      .Action("_OrgChart", "Diagram")
                  )
                  .Model(m => m.Children("Items"))
              )
              .Editable(false)
              .Layout(l => l.Type(DiagramLayoutType.Layered))
              .ShapeDefaults(sd => sd
                  .Visual("visualTemplate")
              )
              .ConnectionDefaults(cd => cd
                  .Stroke(s => s
                      .Color("#979797")
                      .Width(2)
                  )
              )
              .Events(events => events.DataBound("onDataBound"))
)*@