@using LVMini.ViewModels
@model IEnumerable<ModifiedUserModel>
@{
    ViewData["Title"] = "Users";
}

<head>
    <title></title>

</head>

<h2 style="color:black">&nbsp;Users List</h2>
<hr/>
<div class="form-horizontal well">
    <div class="row">
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">
                    <div class="user-container">
                        <div id="grid">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>

    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "http://localhost:49649/admin/UsersAsync"
            }
        },
        schema: {
            model: {
                id: "Id"
            },
            data: function(response) {
                return response;
            }
        }
    });
    var grid = $("#grid").kendoGrid({
        dataSource: dataSource,
        columns: [
            {
                field: "username"
            },
            {

                field: "firstName"
            },
            {

                field: "lastName"
            },
            {

                field: "email"
            }
        ]
    }).data("kendoGrid"); 

</script>