<div class="container">
    <div class="h3">Woops, looks like you're not authorized to view this page.</div>
    <div>To access this page you have to <a asp-controller="Accounts" asp-action="Logout">log in with an authorized account</a></div>
</div>
