@using Microsoft.CodeAnalysis.Editing
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <script src="js/echarts.js"></script>
</head>
<hr />

<div class="form-horizontal">
    <div id="charts"></div>
</div>
<environment include="Development">
    <script src="http://localhost:9000/build/chart.bundle.js"></script>
</environment>


<environment include="Production">
    <script src="~/js/build/index.bundle.js"></script>
</environment>